<div class="well Normal Well" ng-controller= "RegisterCtrl as register">
    <form>
        <div class="input-group">
            Nombre <input type="text" class="form-control"
                          name="name" placeholder="Ingresa tu nombre y apellido"
                          ng-model="register.name"><br>
            Usuario <input type="text" class="form-control"
                           name="username" placeholder="Ingresa tu nombre de usuario"
                           ng-model="register.username"><br>
            Dirección <input type="text" class="form-control"
                             name="adress" placeholder="Ingresa tu dirección"
                             ng-model="register.adress"><br>
            Mail <input type="email" class="form-control"
                        name="email" placeholder="Ingresa tu email"
                        ng-model="register.email"><br>
            Contraseña <input type="password" class="form-control"
                              name="password1" placeholder="Ingresa tu contraseña"
                              ng-model="register.password1"><br>
            Repita contraseña <input type="password" class="form-control"
                                     name="password2" placeholder="Confirmá tu contraseña"
                                     ng-model="register.password2"><br>
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="Registrarse" ng-click="register.confirm()">
    </form>
    <br>
    <div>
        <a href="url" ng-click="register.guest()">O puedes ingresar como INVITADO</a>
    </div>
</div>