<div class="well Normal Well" ng-controller= "RegisterCtrl as register">
    <form name="myForm">
        <div class="input-group">
            Nombre <input type="text" class="form-control"
                          name="name" placeholder="Ingresa tu nombre y apellido"
                          ng-model="register.name" required>
      					<span ng-show="myForm.name.$touched && myForm.name.$invalid">
       							inválido</span><br>
    				
            Usuario <input type="text" class="form-control"
                           name="username" placeholder="Ingresa tu nombre de usuario"
                           ng-model="register.username" required>
                          <span ng-show="myForm.username.$touched && myForm.username.$invalid">
       							inválido</span><br>
                           
            Dirección <input type="text" class="form-control"
                             name="adress" placeholder="Ingresa tu dirección"
                             ng-model="register.adress" required>
                           <span ng-show="myForm.adress.$touched && myForm.adress.$invalid">
       							incompleta</span><br>  
                             
            Mail <input type="email" class="form-control"
                        name="email" placeholder="Ingresa tu email"
                        ng-model="register.email" required>
                      <span ng-show="myForm.email.$touched && myForm.email.$invalid">
       							inválido</span><br>  
                        
            Contraseña <input type="password" class="form-control"
                              name="password1" placeholder="Ingresa tu contraseña"
                              ng-model="register.password1" required>
                              
                           <span ng-show="myForm.password1.$touched && myForm.password1.$invalid">
       							inválida</span><br>
       							  
            Repita contraseña <input type="password" class="form-control"
                                     name="password2" placeholder="Confirmá tu contraseña"
                                     ng-model="register.password2" required>
                                     
                                  <span ng-show="myForm.password2.$touched && myForm.password2.$invalid">
       								!</span><br>   
        </div>
        <br>
        <input type="submit" ng-disabled="myForm.user.$invalid || myForm.username.$invalid || myForm.adress.$invalid || myForm.email.$invalid || myForm.password1.$invalid || myForm.password2.$invalid" class="btn btn-success" value="Registrarse" ng-click="register.confirm()">
    </form>
    <br>
    <div>
        <a href="url" ng-click="register.guest()">O puedes ingresar como INVITADO</a>
    </div>
</div>