<!DOCTYPE html>
<html ng-app="loginModule">

  <head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
    <script src="node_modules/angular/angular.min.js"></script> <!-- AngularJS  -->
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- Bootstrap -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css"> <!-- Bootstrap -->
  </head>

  <body ng-controller="LoginCtrl as login">
    <div class="well well-small">
      <form>
        <div class="input-group">
          Usuario <input type="text" class="form-control" 
                   name="nickname" placeholder="Ingresa tu nombre de usuario" 
                   ng-model="login.nombre"><br>
          Contraseña <input type="password" class="form-control" 
                      name="password" placeholder="Ingresa tu contraseña" 
                      ng-model="login.password" ><br>
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="Iniciar sesión" ng-click="login.send()" >
      </form>
    </div>

  <script src="loginApp.js"></script> <!-- JavaScript -->
  </body>
  
</html>