<div ng-controller="AddIngredienteCtrl as ingredienteCtrl">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">Menu</a>
        </li>
        <li class="pull-right">
            <a id="userName"></a>
        </li>
    </ul>
    <div class="container">
        <ul class="breadcrumb">
            <li class="active">Tamaño > Ingredientes</li>
        </ul>
    </div>
    <div class="container">
        <h2>{{ingredienteCtrl.pizza.nombre}}</h2>  <!--Nombre de la pizza pasada por parametro-->
        <h4> {{ingredienteCtrl.tamanio.nombre}} </h4>  <!--Tamaño de la pizza pasada por parametro-->
        <span class="badge badge-important">{{ingredienteCtrl.pizza.precio}}</span> <br>
        <!--Precio de la pizza pasada por parametro-->
    </div>
    <br>

    <div style="float: left; margin: 0px 50px">
        <!--Aca va un ciclo for usando javascript con los ingredientes agregados y sus distribuciones-->
        <div ng-repeat="ingrediente in ingredienteCtrl.pizza.ingredientes" class="well well-sm"
             style="max-width: 30rem; background-image: linear-gradient(to bottom,#766b6b 0,#9f9393 100%);">
            <!--Estos deberian ser lo ingredientes de la pizza-->
            <div class="pull left" style="float: left; margin: 20px 10px"><h4>{{ingrediente.nombre}}</h4></div>
            <div class="container">
                <div ng-repeat="distribucion in ingredienteCtrl.distros" class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input"
                               ng-model="ingrediente.distribucionElegida"
                               ng-checked="ingrediente.distribucionElegida == distribucion"
                               type="radio"
                               name="{{ingrediente.nombre}}"
                               id="{{ingrediente.nombre}}"
                               value="ingrediente-{{index}}"
                               onclick="return false;">
                        {{distribucion}}
                    </label>
                </div>
            </div>
        </div>

        <div ng-repeat="ingrediente in ingredienteCtrl.pizza.extras" class="well well-sm" style="max-width: 30rem;">
            <!--Estos deberian ser lo ingredientes de la pizza-->
            <div class="pull left"
                 style="float: left; margin: 20px 10px"><h4>{{ingrediente.nombre}}</h4></div>
            <div class="container">
                <div ng-repeat="distribucion in ingredienteCtrl.distros" class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input"
                               ng-model="ingrediente.distribucionElegida"
                               ng-checked="ingrediente.distribucionElegida == distribucion" <!--Preguntar por la seleccion incorrecta y deseleccion de los predefinidos-->
                               type="radio"
                               name="{{ingrediente.nombre}}"
                               id="{{ingrediente.nombre}}"
                               value="ingrediente-{{index}}">
                        {{distribucion}}
                    </label>
                </div>
            </div>
        </div>
        <!-- Aca deberian ir los que vamos agregando a la pizza-->
    </div>

    <div style="float: left; margin: 00px 200px">
        <div class="panel panel-success" style="max-width: 30rem;">
            <h4 class="panel-heading"> Extras</h4>
            <div class="panel-body">
                <a ng-repeat="ingrediente in ingredienteCtrl.ingredientes"
                   class="panel-link"
                   ng-click="ingredienteCtrl.agregar(ingrediente)">{{ingrediente.nombre}}(+{{ingrediente.precio}})<br></a>
            </div>
        </div>
        <button type="submit"
                class="btn btn-success"
                ng-click="ingredienteCtrl.generarPedido()"> Continuar
        </button>
    </div>
</div>
