<div ng-controller="ChooseSizeCtrl as chooseS">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">Menu</a>
        </li>
        <li class="pull-right">
            <a id="userName"></a>
        </li>
    </ul>
    <div class="container">
        <ul class="breadcrumb">
            <li class="active">Tamaño</li>
        </ul>
    </div>
    <div>
        <h2>{{chooseS.pizza.nombre}}</h2>  <!--Aca debe ir el nombre de la pizza pasada por parametro-->
    </div>

    <div class="col-md-3 column margintop20">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="size in chooseS.sizes">
                <a ui-sref="agregarIngrediente({idP:chooseS.pizza.id, idT: size.id})">
                    <!-- Aca pasa a la siguiente ventana guardando el tamaño elegido -->
                    <span style="font-size: large;"> {{size.name}} </span>
                    <span class="badge badge-important">{{size.price}}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
