<div ng-controller="CreateOrderCtrl as create">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">Menu</a>
        </li>
        <li class="pull-right">
            <!--TODO: Preguntar, al refrescar la pagina no se muestra el nombre (solo cuando pasa por Login) a pesar de ser un $scope-->
            <!--<a id="userName"></a>-->

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 40px">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true">
                        <span id="userName" style="font-family:'sans-serif'"></span>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Cerrar Sesion</a></li>
                </ul>
            </div>

        </li>
    </ul>
    <div>
        <h2>Elige tu pizza ideal</h2>
    </div>

    <div class="col-md-3 column margintop20" style="width: 100%">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="pizza in create.platos">
                <a ui-sref="elegirTamaño({id: pizza.id})">
                    <!-- Aca pasa a la siguiente ventana guardando la pizza elegida -->
                    <span style="font-size: large"> {{pizza.nombre}} </span>
                    <span class="badge badge-important">${{pizza.precio}}</span> <br>
                    <span style="font-size: small"> Aca va una descripcion</span> <!-- Verificar donde estaba la descripcion, sin en pizza o plato y pasarla como parametro -->
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>