<div ng-controller="CreateOrderCtrl as create">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">Menu</a>
        </li>
        <li class="pull-right">
            <!--TODO: Preguntar, al refrescar la pagina no se muestra el nombre (solo cuando pasa por Login) a pesar de ser un $scope-->
            <a id="userName"></a>
        </li>
    </ul>
    <div>
        <h2>Elige tu pizza ideal</h2>
    </div>

    <div class="col-md-3 column margintop20">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="pizza in create.platos">
                <a ui-sref="elegirTamaño({id: pizza.id})">
                    <!-- Aca pasa a la siguiente ventana guardando la pizza elegida -->
                    <big> {{pizza.nombre}} </big>
                    <span class="badge badge-important">{{pizza.precio}}</span> <br>
                    <small> Aca va una descripcion</small>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>