<div ng-controller= "CreateOrderCtrl as create">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#">Menu</a>
    </li>
    <li class="pull-right">
      <a href="#">Usuario87</a>  <!-- Aca debe ir el nickname del usuario pasado por parametro -->
    </li> 
  </ul>
  <div>
    <h2>Elige tu pizza ideal</h2>
  </div>

  <div class="col-md-3 column margintop20">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="pizza in create.pizzas">
        <!-- Aca pasa a la siguiente ventana guardando la pizza elegida -->
        <big> {{pizza.nombre}} </big> 
        <span class="badge badge-important">{{pizza.precio}}</span> <br>
        <small> Aca va una descripcion </small>
        <span class="glyphicon glyphicon-chevron-right"></span> 
      </a>
    </li>
  </ul>
</div>
</div>