<div class="well well-small" ng-controller="LoginCtrl as login">
    <form>
        <div class="input-group" style="width: 100%">
            Usuario <input type="text" class="form-control"
                           name="nickname" id="name" placeholder="Ingresa tu nombre de usuario"
                           ng-model="login.nombre">
            <br><br><br>
            Contraseña <input type="password" class="form-control"
                              name="password" placeholder="Ingresa tu contraseña"
                              ng-model="login.password">
            <br>
        </div>
        <div style="text-align: center;">
            <br>
            <input type="submit" class="btn btn-success" value="Iniciar sesión" ng-click="login.acceder()"><br>
            <br>
            <a ui-sref="register" style="">Crear cuenta</a>
        </div>
    </form>
</div>